

<head>
    <link rel="stylesheet" href="/css/products.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="grid wide" style="max-width: 800px;">
    <div class="title-all-products">
        <span>Giỏ hàng của bạn</span>
    </div>

    <div class="cart">
        <div class="head">
            <div class="row">
                <div class="col l-8">
                    <div class="item">
                        <span>Sản phẩm</span>
                    </div>
                </div>
                <div class="col l-4">
                    <div class="price">
                        <span>Giá</span>
                    </div>
                </div>
            </div>
        </div>

        {{#each order_account}}
        <div class="table-item">
            <div class="row">
                <div class="col l-8">
                    <div class="item">
                        <a href="" class=" delete btn btn" data-toggle="modal" data-target="#delete-product-modal" data-id="{{this._id}}">
                            <i class="fas fa-times"></i>
                        </a>
                        <a href="" class="img">
                            <img src="{{this.image}}" alt="">
                        </a>
                        <a href="" class="name">
                            {{this.name}}
                        </a>
                    </div>
                </div>
                <div class="col l-4">
                    <div class="price">
                        <span>{{this.price}}</span>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}


        <div class="pay">
            <div class="total_money">
                <span class="text">Tổng số tiền:</span>
                <span class="Number">{{price}} đ</span>
            </div>
            <a href="/pay" class="purchase">
                Tiến hành thanh toán
            </a>
        </div>
    </div>
</div>





{{!-- confirm delete product --}}

<div id="delete-product-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" style="padding-top:30px; ">
                <h4> <b>Bạn chắc chắn muốn xóa sản phẩm này???</b> </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btn-delete-product">Xóa bỏ</button>
                <button type="button" class="btn btn-sacondary" data-dismiss="modal">hủy</button>
            </div>
        </div>
    </div>
</div>

{{!-- end --}}

{{!-- delete hiden form --}}
<form name="delete_form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var productID
        var deleteForm = document.forms['delete_form'];
        var btnDeleteProduct = document.getElementById('btn-delete-product');

        $('#delete-product-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            productID = button.data('id')
            console.log(productID);
        });

        
        btnDeleteProduct.onclick = function(){
            deleteForm.action = '/cart/' + productID + '?_method=DELETE';
            deleteForm.submit();
        };
    }); 
</script>
